body, html {
  height: 100%;
}

body {
  font-family: 'Verdana', Verdana;
  color: #fffff
  margin: 50;
  padding: 50;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color:  #ADD8E6;
}

/* Add a background image */
body {
  background-image: url("https://i.pinimg.com/564x/11/26/99/1126993c29b11e8f80c8e734b4c61e7d.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Style the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
  backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 2px 4px #f2f2f2;
}

.header {
position: absolute;
top: 50%;
left: 50%;
transform: perspective(50px) translate(-50%, -50%);
transform: skewY(15deg);
transition: 0.5s;
}

.header:hover {
transform: perspective(50px) translate(-50%, -50%);
transform: skewY(0deg);
}

.header h1 span {
position: absolute;
top: 0;
left: 0;
transform: translate(-50%, -50%);
margin: 0;
padding: 0;
text-transform: uppercase;
font-size: 1.5em;
color: #00000;
transform-style: preserve-3d;
transition: 0.8s;
}

.header h1 span:nth-child(1) {
clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}

.header h1 span:nth-child(2) {
color: #5E17EB;
transform: translate(-50%, -50%) skewX(-60deg);
left: -57px;
clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
}

.header h1 span:nth-child(3) {
transform: translate(-50%, -50%) skewY(0deg);
left: -114px;
clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
}

.header:hover h1 span:nth-child(2),
.header:hover h1 span:nth-child(3) {
transform: translate(-50%, -50%) skewX(0deg);
left: 0;
color: #fff;
}
header h1 {
  font-size: 2rem;
  margin: 0;
}

header nav ol {
  display: flex;
  list-style: underline;
  margin: 0;
  padding: 0;
}

header nav li {
  margin: 0 10px;
}

header nav li a {
  color: #0b0d12;
  text-decoration: underline;
  font-weight: bold;
}

header nav li a:hover {
  color: #ffffff;
}


header img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  box-shadow: 0px 2px 4px  #ffffff;
}

header h1 {
  margin: 0;
  font-size: 32px;
  text-shadow: 2px 2px #ffffff;
  color: #0b0d12;
  font-style: italic;
  text-transform: italic;
  
}

/* Style the navigation */
nav {
  display: flex;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: underline;
  color: #fffff;
  font-weight: bold;
  font-size: 12px;
  text-shadow: 1px 1px #00000;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #FFFFFF;
  transform: scale(1.2);
}

/* Style the section */
section {
  background-image: url("https://i.pinimg.com/474x/15/8a/5d/158a5d1980d3fd9808fa49083226e98d.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px;
  margin: 35px 0;
  background-color:  #3167bd;
  font-style: italic;
  backdrop-filter: blur(5px);
  box-shadow: 0px 2px 4px #000000;
  border-radius: 20px;
  background-image: https://i.pinimg.com/564x/11/26/99/1126993c29b11e8f80c8e734b4c61e7d.jpg;
  }
section h2 {
  margin-top: 0;
  text-align: center;
  text-shadow: 2px 2px #fffff;
  text-color: #fffff;
  text-transform: uppercase;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

section li {
  margin: 20px;
  padding: 10px;
  background-color: #83b2cc;
  box-shadow: 10px 10px 1px #130e59;
  border-radius: 10px;
  text-align: center;
  min-width: 200px;
  transition: all 0.3s ease;
}

section li:hover {
  transform: translateY(-5px);
  box-shadow: 7px 7px 7px #333333;
}

/* Style
